{% if site.footer.links or site.footer.text %}
  <footer class="site-footer">
    <div class="footer-links">
      <a href="/about/">About Us</a> |
      <a href="/contact/">Contact Us</a> |
      <a href="/contributing/">Contributing</a> |
      <a href="/code-of-conduct/">Code of Conduct</a> |
      <a href="/privacy/">Privacy Policy</a>
    </div>
    <div class="footer-text">
      {{ site.footer.text }}
    </div>
  </footer>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var links = document.querySelectorAll('a');
    for (var i = 0; i < links.length; i++) {
      var link = links[i];
      // Check if the link has an href attribute and if it's an external link
      if (link.href && (link.hostname !== window.location.hostname) && !link.target) {
        link.target = '_blank';
        link.rel = 'noopener noreferrer';
      }
    }
  });
</script>
