<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/footer-center.css">
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    {{ site.head }}
  </head>
  <body>
    {% include masthead.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
